In [19]:
from feast import FeatureStore
feature_store = FeatureStore('national_dodo/feature_repo/.')

In [20]:
import pandas as pd
from datetime import datetime

entity_df = pd.DataFrame.from_dict(
    {
        "customer_uid": [
            "f9152e50-ca83-4e91-83a0-f3a517a65fe4", 
            "91aa0850-4069-4968-9e87-5621264fa98f",
        ],
        "event_timestamp": [
            datetime(2023, 6, 2, 16, 55, 0),
            datetime(2023, 6, 2, 16, 50, 0),

        ]
    }
)

In [21]:
training_df = feature_store.get_historical_features(
    entity_df=entity_df,
    features=[
        "transaction_hourly_counts:count_50_last_hour",
        "transaction_hourly_counts:count_200_last_hour",
        "transaction_hourly_counts:count_500_last_hour"
    ],
).to_df()

In [22]:
training_df

,customer_uid,event_timestamp,count_50_last_hour,count_200_last_hour,count_500_last_hour
0,f9152e50-ca83-4e91-83a0-f3a517a65fe4,2023-06-02 16:55:00,11747,7841,23
1,91aa0850-4069-4968-9e87-5621264fa98f,2023-06-02 16:50:00,11514,7688,29

In [23]:
# Get the latest feature values for unique entities
entity_sql = f"""
    SELECT
        i.customer_uid,
        i.event_timestamp
    FROM {feature_store.get_data_source("transaction_count_source").get_table_query_string()} AS i
    WHERE event_timestamp BETWEEN '2023-06-02 21:01:00' and '2023-06-02 22:01:00'
"""
batch_scoring_features_v1 = feature_store.get_historical_features(
    entity_df=entity_sql,
    features=feature_store.get_feature_service("transaction_stats_service_v1"),
).to_df()

# prediction

/Users/mihhail.fjodorov/starling/feast/venv/lib/python3.11/site-packages/feast/infra/utils/postgres/connection_utils.py:67: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

In [24]:
batch_scoring_features_v1[0:10]

,customer_uid,event_timestamp,count_50_last_hour,count_200_last_hour,count_500_last_hour
0,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:01:00,11538,7622,26
1,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:02:00,11243,7488,20
2,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:03:00,11562,7714,33
3,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:04:00,11550,7727,26
4,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:01:00,11506,7751,31
5,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:02:00,11312,7510,16
6,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:03:00,11535,7661,24
7,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:04:00,11673,7804,24
8,4649dfee-b8e6-4735-8463-dd1bbce0bcb5,2023-06-02 21:01:00,11656,7816,33
9,4649dfee-b8e6-4735-8463-dd1bbce0bcb5,2023-06-02 21:02:00,11541,7616,20

In [25]:
# Get the latest feature values for unique entities
entity_sql = f"""
    SELECT
        i.customer_uid,
        i.event_timestamp
    FROM {feature_store.get_data_source("transaction_amount_source").get_table_query_string()} AS i
    WHERE event_timestamp BETWEEN '2023-06-02 21:01:00' and '2023-06-02 22:01:00'
"""
batch_scoring_features_v2 = feature_store.get_historical_features(
    entity_df=entity_sql,
    features=feature_store.get_feature_service("transaction_stats_service_v2"),
).to_df()

/Users/mihhail.fjodorov/starling/feast/venv/lib/python3.11/site-packages/feast/infra/utils/postgres/connection_utils.py:67: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

In [26]:
batch_scoring_features_v2[0:10]

,customer_uid,event_timestamp,count_50_last_hour,sum_50_last_hour,sum_200_last_hour,sum_500_last_hour
0,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:01:00,11538,3164179.0,2676172.0,13000.0
1,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:02:00,11243,3101253.0,2628747.0,10000.0
2,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:03:00,11562,3180787.0,2700686.0,16500.0
3,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:04:00,11550,3177177.0,2699532.0,13000.0
4,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:01:00,11506,3173805.0,2705305.0,15500.0
5,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:02:00,11312,3092182.0,2621991.0,8000.0
6,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:03:00,11535,3158805.0,2677309.0,12000.0
7,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:04:00,11673,3211433.0,2730717.0,12000.0
8,4649dfee-b8e6-4735-8463-dd1bbce0bcb5,2023-06-02 21:01:00,11656,3195145.0,2717732.0,16500.0
9,4649dfee-b8e6-4735-8463-dd1bbce0bcb5,2023-06-02 21:02:00,11541,3144199.0,2658489.0,10000.0

In [27]:
# Get the latest feature values for unique entities
entity_sql = f"""
    SELECT
        i.customer_uid,
        i.event_timestamp
    FROM {feature_store.get_data_source("transaction_amount_source").get_table_query_string()} AS i
    WHERE event_timestamp BETWEEN '2023-06-02 21:01:00' and '2023-06-02 22:01:00'
"""
batch_scoring_features_v3 = feature_store.get_historical_features(
    entity_df=entity_sql,
    features=feature_store.get_feature_service("transaction_stats_service_v3"),
).to_df()

/Users/mihhail.fjodorov/starling/feast/venv/lib/python3.11/site-packages/feast/infra/utils/postgres/connection_utils.py:67: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

In [28]:
batch_scoring_features_v3

,customer_uid,event_timestamp,count_50_last_hour,count_200_last_hour,count_500_last_hour,sum_50_last_hour,sum_200_last_hour,sum_500_last_hour,avt_sum_50,avt_sum_200,avt_sum_500
0,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:01:00,11538,7622,26,3164179.0,2676172.0,13000.0,274.239816,351.111519,500.0
1,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:02:00,11243,7488,20,3101253.0,2628747.0,10000.0,275.838566,351.061298,500.0
2,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:03:00,11562,7714,33,3180787.0,2700686.0,16500.0,275.106988,350.101893,500.0
3,10c6d2f1-6083-44f3-8751-a8bdc0599bde,2023-06-02 21:04:00,11550,7727,26,3177177.0,2699532.0,13000.0,275.080260,349.363530,500.0
4,362b7340-3cad-4366-9348-4a3fd11177d4,2023-06-02 21:01:00,11506,7751,31,3173805.0,2705305.0,15500.0,275.839127,349.026577,500.0
...,...,...,...,...,...,...,...,...,...,...,...
245,f9152e50-ca83-4e91-83a0-f3a517a65fe4,2023-06-02 21:21:00,11304,7586,26,3108443.0,2646873.0,13000.0,274.986111,348.915502,500.0
246,f9152e50-ca83-4e91-83a0-f3a517a65fe4,2023-06-02 21:22:00,11374,7598,32,3124801.0,2651283.0,16000.0,274.731932,348.944854,500.0
247,f9152e50-ca83-4e91-83a0-f3a517a65fe4,2023-06-02 21:23:00,11418,7597,21,3135494.0,2658471.0,10500.0,274.609739,349.936949,500.0
248,f9152e50-ca83-4e91-83a0-f3a517a65fe4,2023-06-02 21:24:00,11359,7542,23,3117697.0,2645169.0,11500.0,274.469319,350.725139,500.0
249,f9152e50-ca83-4e91-83a0-f3a517a65fe4,2023-06-02 21:25:00,2960,1999,7,815398.0,695029.0,3500.0,275.472297,347.688344,500.0

In [30]:
# get features from the online store feast materialize "2023-06-02 16:55:00" "2023-06-02 18:15:00"
feature_vector = feature_store.get_online_features(
    features=[
        "transaction_hourly_counts:count_50_last_hour",
        "transaction_hourly_counts:count_200_last_hour",
        "transaction_hourly_counts:count_500_last_hour"
    ],
    entity_rows=[
        # {join_key: entity_value}
        {"customer_uid": "f9152e50-ca83-4e91-83a0-f3a517a65fe4"},
    ],
).to_dict()

print(feature_vector)

{'customer_uid': ['f9152e50-ca83-4e91-83a0-f3a517a65fe4'], 'count_200_last_hour': [5993], 'count_500_last_hour': [18], 'count_50_last_hour': [8902]}

In [ ]:
# feast serve -p 8889

curl -X POST \
  "http://localhost:6566/get-online-features" \
  -d '{
    "feature_service": "transaction_stats_service_v1",
    "entities": {
      "customer_uid": ["f9152e50-ca83-4e91-83a0-f3a517a65fe4"]
    }
  }'